{% extends 'base.html.twig'%}

{% block body %}

	<form method="post" action="{{ path('new_password') }}">
		<label for="firstPassword">{% trans %}Enter password{% endtrans %}</label>
		<input type="password" id="firstPassword" name="firstPassword">
		<br>
		<label for="secondPassword">{% trans %}Re-type password{% endtrans %}Powtórz hasło</label>
		<input type="password" id="secondPassword" name="secondPassword">
		<input type="hidden" id="userID" name="userId" value={{ id }}>
		<br>
		<input type="submit" value="{% trans %}Send{% endtrans %}">
	</form>

{% endblock %}