{% extends 'base.html.twig'%}

{% block body %}

	<form method="post" action="{{ path('new_password') }}">
		<label for="firstPassword">Wpisz hasło</label>
		<input type="password" id="firstPassword" name="firstPassword">
		<br>
		<label for="secondPassword">Powtórz hasło</label>
		<input type="password" id="secondPassword" name="secondPassword">
		<input type="hidden" id="userID" name="userId" value={{ id }}>
		<br>
		<input type="submit" value="Wyślij">
	</form>

{% endblock %}