<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<style>
	*{ font-family: DejaVu Sans; font-size: 12px;}

	p.myHeadline {
		text-align: center;
		font-size: 16px;
	}
	p.myTitle {
		text-align: center;
		font-size: 14px;
	}
	.header {
		padding: 10px;
	}
	.footer {
		position: fixed;
		bottom: 10px;
	}
	/*TODO = źle liczy ważność głosowań - nie bierze pod uwagę do quorum czy tylko zarząd czy też wszyscy*/
</style>
	</head>
	<body>
<div class="header">
	<img height="100" alt = "v" src="../public/{% path logo, 'reference'%}">

</div>

<p class="myHeadline">
 <b>{% trans %}Resolution no{% endtrans %} : {{ resolution.number }} {% trans %}of{% endtrans %} {{ resolution.date | date('d-m-Y')}}. </b><br/>
<br/>
</p>
<p class="myTitle">
<i>{{ resolution.title }}</i><br>
</p>
<p style="text-align: justify">
	{{ resolution.content | raw }} <br>
	<br>
</p>



	{% trans %}General secretary{% endtrans %}<br>
	<br>
	......................................

	<div class="footer">
		<img width="100%" alt = "v" src="../public/{% path footer, 'reference'%}">
	</div>
</body>
</html>