{% extends 'base.html.twig' %}
{% block body %}


	Dzień dobry <br>
	Na ten adres e-mail poproszono o reset hasła użytkownika na platformie easyvote.pl.
	Możesz to zrobić klikając w poniższy link <br>

	<a href="{{ path('change_password', {'token':  token }) }}"> Link</a>

{% endblock %}