{% extends 'base.html.twig' %}
{% block body %}


	{% trans %}Hello{% endtrans %} <br>
	{% trans %}This email was provided during a password reset process on the easyvote.pl platform. You can reset your password by clicking on the following link.{% endtrans %} <br>

	<a href="{{ path('change_password', {'token':  token }) }}"> Link</a>

{% endblock %}