{% extends 'base.html.twig' %}
{% block body %}
	<style>
		p {
			padding: 40px;
		}
	</style>
	<p>
		{% trans %}Your comment was added{% endtrans %}<br/>

		<a href="{{ path('logout') }}">{% trans %}Log out{% endtrans %}</a>
	</p>


{% endblock %}