{% extends 'base.html.twig' %}

{% block body %}

	{{ comment.commentAuthor.name}} {{ comment.commentAuthor.lastName }} {% trans %} has added a new comment{% endtrans %}: <br>
	{{ comment.content }}<br>
	<br>
	<a href="{{ url('comment_form', {projectId: projectId, authorId: member}) }}">
		<button class="btn btn-warning"> {% trans %}Reply{% endtrans %}</button>
	</a>
{% endblock %}